.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
packrat/*
!nber-aug2017/rise-nber-v1-0.Rmd
!nber-aug2017/rise-nber-v1-0.nb.html
nber-aug2017/rise-nber-v1-0_cache/
run-data/
packrat/lib*/
*.err
*.out
core.*
./temp/*.R
smdm/*.html
